<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>HighQu</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    
    <style>
  #map {
    height: 80%;
    position:fixed;
    overflow: visible;
  }
        #contactform{
            z-index:5;
            position:absolute;
            width: 90%;
            padding-top: 20%;
            padding-left: 10%;
                overflow: visible;

        }
          #warnings{
            top: 56%;
            left: 5%;
            z-index:6;
            position:absolute;
                  overflow: visible;

        }
        
           #pointofinterest{
            top: 67%;
            left: 5%;
            z-index:6;
            position:absolute;
                   overflow: visible;

        }
        
        #musiclibrary{
            top: 78%;
            left: 5%;
            z-index:6;
            position:absolute;
                overflow: visible;

        }
      #stoprecording{
            width: 100%;
            height: 10%;
              overflow: visible;

        }
   
        #recentermap{
            top: 80%;
            left: 33%;
            z-index:6;
            position:absolute;
                overflow: visible;

        }
        
        #navbar{
            height:10%;
        }
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 0;
          overflow: visible;

  }
</style>
</head>
<body>
  <nav id="navbar" class="light-green lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Recording Trail</a>
      <a href="/"><i class="material-icons">backspace</i></a>
    </div>
  </nav>
    
    
    
    <!-- The three buttons for adding waypoints and warnings -->
    <a href="#modalwarning" id="warnings"  class="waves-effect btn-floating btn-large red"><i class="material-icons">warning</i></a>
    
    <a href="#modalpoi" id="pointofinterest" class="waves-effect btn-floating btn-large orange darken-1"><i class="material-icons">local_see</i></a>

    <a href="#modalmusic" id="musiclibrary" class="waves-effect btn-floating btn-large blue darken-1"><i class="material-icons">library_music</i></a>
    
    <a class="waves-effect waves-light blue darken-1 btn" id="recentermap">Recenter</a>


    
    
       <div id="map"></div>
    
       <a class="btn-large red" id="stoprecording">Stop Recording</a>

    

    
    
	<!--  Scripts-->
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="/js/materialize.js"></script>
	<script src="/js/init.js"></script>


    
  
     
       
    
    
    <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 20
        });
       // Try HTML5 geolocation.
                      var infoWindow = new google.maps.InfoWindow({map: map});

            if (navigator.geolocation) {
              var posToReturn;
              navigator.geolocation.getCurrentPosition(function(position) {
                var pos = {
                  lat: position.coords.latitude,
                  lng: position.coords.longitude
              };

              infoWindow.setPosition(pos);
              infoWindow.setContent('Location found.');
              map.setCenter(pos);
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
        }, 
        {enableHighAccuracy: true}
                                                      
);
          } else {
              // Browser doesn't support Geolocation
              handleLocationError(false, infoWindow, map.getCenter());
          }
          
        poly = new google.maps.Polyline({
          strokeColor: '#000000',
          strokeOpacity: 1.0,
          strokeWeight: 3
        });
        poly.setMap(map);
          
      var shouldCenterMap = true;
      map.addListener('zoom_changed', uncenterMap);
      map.addListener('drag', uncenterMap);
          
      function uncenterMap(){
         shouldCenterMap = false;
         $("#recentermap").show();
          
      }
          
          $.get("/getAnnotations", addAnnotations);
          function addAnnotations(annotations){
              var list_of_annotations = annotations;
              for(var i = 0; i< list_of_annotations.length; i++){
                  var annotation_text = list_of_annotations[i].annotation;
        
                  var infoWindow = new google.maps.InfoWindow({map: map});
                  infoWindow.setPosition(new google.maps.LatLng(list_of_annotations[i].lat, list_of_annotations[i].lng));
                  infoWindow.setContent(annotation_text);
              }
          }
    
      function centerMap(){
          if (navigator.geolocation) {
              navigator.geolocation.getCurrentPosition(function(position) {
                var pos = {
                  lat: position.coords.latitude,
                  lng: position.coords.longitude
              };

              infoWindow.setPosition(pos);
              infoWindow.setContent('Location found.');
              map.setCenter(pos);
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
        }, 
        {enableHighAccuracy: true}
                                                      
);
          } else {
              // Browser doesn't support Geolocation
              handleLocationError(false, infoWindow, map.getCenter());
          }
          
          shouldCenterMap = true;
      }
          
      document.addEventListener('centerMap', centerMap);
          
      document.addEventListener('submitTrail', submitTrail);
          
        
          
          var medianDataPoints = [];
          var recordingsLat = [];
          var recordingsLng = [];
          var numRecordings = 0;
          var firstTime = true;
          setInterval(recordLocation, 10);
          function recordLocation(){
              if (navigator.geolocation) {
              navigator.geolocation.getCurrentPosition(function(position) {
                var pos = {
                  lat: position.coords.latitude,
                  lng: position.coords.longitude
              };

              infoWindow.setPosition(pos);
              infoWindow.setContent(pos.lat + " , " +pos.lng);
              if(shouldCenterMap){
                  map.setCenter(pos);
              }
              recordingsLat.push(pos.lat);
              recordingsLng.push(pos.lng);
              if(firstTime){
                  var path = poly.getPath();
                  path.push(new google.maps.LatLng(pos.lat, pos.lng));
                  firstTime = false;
                  medianDataPoints.push({lat:pos.lat, lng: pos.lng});

              }
              numRecordings++;
              if(numRecordings >= 200){
                recordingsLat.sort();
                recordingsLng.sort();
                var posMedian = {
                  lat: recordingsLat[numRecordings/2],
                  lng: recordingsLng[numRecordings/2]
                  };
                
                var latDataPoint = medianDataPoints[medianDataPoints.length - 1].lat;
                var lngDataPoint = medianDataPoints[medianDataPoints.length - 1].lng;
                var differential = lngDataPoint/2 - posMedian.lng/2 + latDataPoint - posMedian.lat;
                if(differential < 0.002){
                    medianDataPoints.push(posMedian);
                    var path = poly.getPath();
                    console.log(posMedian);
                    path.push(new google.maps.LatLng(posMedian.lat, posMedian.lng));
                    console.log(medianDataPoints);

                }
                
                recordingsLat = [];
                recordingsLng = [];
                numRecordings = 0;
                 
                  
              }
              
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
        });
          } else {
              // Browser doesn't support Geolocation
              handleLocationError(false, infoWindow, map.getCenter());
          }
              
          }
          
          function submitTrail(){
              $.post('/addTrail/add', JSON.parse(JSON.stringify({trailData:medianDataPoints})),trailIdCallback);
          }
          
          function trailIdCallback(results){
              console.log(results.trailId);
              window.location.href = "/submitTrail/" +results.trailId
          }
          
             $('#addWarning').on("click", function(){
                  $.post("/addAnnotation", {"annotation": "Warning: " + $("#warningText").val(), "position" : {
                  lat: recordingsLat[recordingsLat.length-1],
                  lng: recordingsLng[recordingsLat.length-1]
                  }});
                 
                  var infoWindow = new google.maps.InfoWindow({map: map});
                  infoWindow.setPosition(new google.maps.LatLng(recordingsLat[recordingsLat.length-1], recordingsLng[recordingsLat.length-1]));
                  infoWindow.setContent("Warning: " + $("#warningText").val());
        
               });
              $('#addPoi').on("click", function(){
                  $.post("/addAnnotation", {"annotation": "Point of Interest: " + $("#poiText").val(), "position" : {
                  lat: recordingsLat[recordingsLat.length-1],
                  lng: recordingsLng[recordingsLat.length-1]
                  }});
                  var infoWindow = new google.maps.InfoWindow({map: map});
                  infoWindow.setPosition(new google.maps.LatLng(recordingsLat[recordingsLat.length-1], recordingsLng[recordingsLat.length-1]));
                  infoWindow.setContent("Point of Interest: " + $("#poiText").val());
              });
              $('#addMusic').on("click", function(){
            
                  $.post("/addAnnotation", {"annotation": "Music Suggestion: " + $("#musicText").val(), "position" : {
                  lat: recordingsLat[recordingsLat.length-1],
                  lng: recordingsLng[recordingsLat.length-1]
                  }});
                  var infoWindow = new google.maps.InfoWindow({map: map});
                  infoWindow.setPosition(new google.maps.LatLng(recordingsLat[recordingsLat.length-1], recordingsLng[recordingsLat.length-1]));
                  infoWindow.setContent("Music Suggestion: " + $("#musicText").val());
              });
        
      }
    </script>

    
    
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDt2_jkQWKuHl6iy02idQyWXAQTGJLx2io&callback=initMap"
    async defer></script>
    
    
   
  <!-- Modal Structure -->
  <div id="modalwarning" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Add a Warning</h4>
      <p>OMG SO DANGEROUS!!!!!</p>
        
        <div class="form-group">
        <input id = "warningText" type="text" class="form-control"
               placeholder="What warning do you want others to see?" 
               name="warningText">
      </div>
    </div>
      
      
      
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
      <a id = "addWarning" href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Submit</a>
    </div>
  </div>
    
    <!-- Modal Structure -->
  <div id="modalmusic" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Add a Playlist</h4>
      <p>MUCH MUSIC!!!!</p>
         <div class="form-group">
        <input id = "musicText" type="text" class="form-control"
               placeholder="Keep this form until spotifyable" 
               name="musicText">
      </div>
    </div>
      
      
      
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
      <a id = "addMusic" href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Submit</a>
    </div>
  </div>
    
  <!-- Modal Structure -->
  <div id="modalpoi" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Add a Point of Interest</h4>
      <p>MUCH INTERESTING!!!</p>
         <div class="form-group">
        <input id = "poiText" type="text" class="form-control" id="waypointText"  
               placeholder="What sight would you want others to see?" 
               name="waypoint">
      </div>
        
        <div class="form-group">
          <div class="file-field input-field">
      <div class="btn">
        <span>image</span>
        <input type="file" name="imageURL">
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
              
    </div>
      
      
      
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
      <a id = "addPoi" href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Submit</a>
    </div>
  </div>
    
 
    
    
    <!-- Modal Structure 
        on pressing back while recording the trail.  -->
  <div id="modalrecordthenback" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Are you sure?</h4>
      <p>This will quit your current recording.</p>
    </div>
    <div class="modal-footer">
      <a href="index.html" class="modal-action modal-close waves-effect waves-red btn-flat ">No</a>
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Yes</a>
    </div>
  </div>
    
    
    
 
    
    
    



        
   <script>
      $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal').modal();
    $("#recentermap").hide();
          
    $("#recentermap").on("click", function(){
         var centerMap = new Event('centerMap');
         document.dispatchEvent(centerMap);
         
         $(this).delay(2000).hide();
   
    });
                    
          
    $("#stoprecording").on("click", function(){
         var submitTrail = new Event('submitTrail');
         document.dispatchEvent(submitTrail);
         console.log("GG");
    });
         
  });
         
    </script>

  </body>
</html>
