    <html>
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
      <title>HighQu</title>

      <!-- CSS  -->
      <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
      <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
      <style>
         #animate { position: fixed; border; height: 100%; z-index:0;}
#overlay { 
  
}
#overlay1 { 
   position: absolute; 
   top: 30%; 
   left: 0; 
   width: 100%; 
}
          #overlay2 { 
   position: absolute; 
   top: 40%; 
   left: 0; 
   width: 100%; 
}
    #overlay3 { 
           position: absolute; 

   top: 50%; 
 left: 25%; 
    }
          .frame{background-color: rgba(0,0,0,0.3);}

      </style>
    </head>
<body>
    <div id="frame">
        <h2 id="overlay1" class="center-align white-text frame" style="z-index:2;">HIGH-QU</h2>
        <h4 id="overlay2" class="center-align white-text frame" style="z-index:2;">Explore the Unknown.</h4>
        <a id="overlay3" class="waves-effect waves-light btn red">Explore Our App</a>


    </div>
    <img id="animate" src="/img/seattle.png">    



<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/js/materialize.js"></script>
<script src="/js/init.js"></script>

<script>
$(document).ready(function(e) {
  if(window.sessionStorage.username && window.sessionStorage.username != "Guest User"){
    window.location.href = "/";

  }
    width = "-=" + $(document).width();
    $("#animate").animate({
    left: width
  }, 40000, function() {
    // Animation complete.
  });
    
 $("#overlay3").on("click", function(){
     window.sessionStorage.username = "Guest User";
     window.location.href = "/";
 
 });
});
</script>
</body>
</html>
