<!--

Hans Yuan 

--> 

<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
	<title>Your Profile</title>
    
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-93049862-1', 'auto');
      ga('send', 'pageview');

    </script>

	<!-- CSS  -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
	<link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

	<style>
		#map {
			height: 40.5%;
			position:relative;
		}
		#contactform{
			z-index:5;
			position:absolute;
			width: 90%;
			padding-top: 20%;
			padding-left: 10%;
		}
		#warnings{
			top: 75%;
			left: 5%;
			z-index:6;
			position:absolute;
		}
		#stoprecording{
			width: 100%;
			height: 10%;
		}

		html, body {
			height: 100%;
			margin: 0;
			padding: 0;
			z-index: 0;
		}
		.card {
			background-color: #f4f4f4;
			width: 300px;
			margin: 10px auto;
			box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.7);
			text-align: center;
		}

		.card-header {
			overflow: hidden;
			width: 100%;
			max-height: 200px;
		}

		.card-header img{
			width: 60%;
			border-radius: 50%;
			margin-top: 10px;

		}
		.card-content {
			width: 85%;
			margin: 20px auto;
		}
	</style>
</head>

<!-- Green navigation bar -->
<body>
	<nav class="light-green lighten-1" role="navigation">
		<div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Profile</a>
			<a href="/"><i class="material-icons">backspace</i></a>
		</div>
	</nav>

	<div class="card">
		<div class="card-header">
			<img src="/img/doge.jpeg">
		</div>
		<div class="card-content">
			<p id="profile_user_name"></p>
			{{#each createdProfiles}}
			<h4 id="desc">{{description}}</h4>
			{{/each}}
		</div>
	</div>



	<div class="container">
		<!-- start form fields --> 
		<form id="addTrailForm" role="form" method="get" action="/updateProfile">

			<!-- Include a photo -->

			<!-- TODO JS the fields if JSONObject already exists -->
			<!--
			<div class="form-group">
				<input type="text" class="form-control" id="p_name"  placeholder="Your name" name="p_name">
			</div>

			<div class="input-field col s12">         

			</div>
		-->

			<div class="form-group">
				<input type="text" class="form-control" id="description" placeholder="Tell me about yourself." name="description">
			</div>

			<div style="text-align:center">
				<input type="submit" id="submitBtn" class="waves-effect waves-light btn" value="save my changes"></input>
			</div>
		
		</form>



	</div>


	<!--  Scripts-->

	
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="/js/materialize.js"></script>
	<script src="/js/init.js"></script>
	<script>
	$(document).ready(function() {
    $('#profile_user_name').text(window.sessionStorage.username);
    console.log(window.sessionStorage.username);
	});
	var description = $('#description').val();
	$( '#submitBtn' ).click(function() {
 		('desc').text(description);
	});
	</script>
</body>
</html>
