<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Starter Template - Materialize</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

  <style>
    #map {
      height: 40.5%;
      position:relative;
    }
    #contactform{
      z-index:5;
      position:absolute;
      width: 90%;
      padding-top: 20%;
      padding-left: 10%;
    }
    #warnings{
      top: 75%;
      left: 5%;
      z-index:6;
      position:absolute;
    }
    #stoprecording{
      width: 100%;
      height: 10%;
    }

    html, body {
      height: 100%;
      margin: 0;
      padding: 0;
      z-index: 0;
    }
    .card {
    background-color: #f4f4f4;
    width: 300px;
    margin: 10px auto;
    box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.7);
    text-align: center;
  }

  .card-header {
    overflow: hidden;
    width: 100%;
    max-height: 200px;
  }

  .card-header img{
    width: 60%;
    border-radius: 50%;
    margin-top: 10px;
    
  }
  .card-content {
  width: 85%;
  margin: 20px auto;
  }
  </style>
</head>
<body>
  <nav class="light-green lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Profile</a>
      <a href="/"><i class="material-icons">backspace</i></a>
    </div>
  </nav>


<!--
  <h6>Hello! Sign up view in progress.</h6>
    

    
<h6>Below is the Profile making page</h6>

  <div class="container">
    <form id="addTrailForm" role="form" method="get" action="/createMyProfile">

      <div class="form-group">
        <input type="text" class="form-control" id="name"  placeholder="Your Name" name="p_name">
      </div>

      <div class="input-field col s12">         

      </div>

      <div class="form-group">
        <input type="text" class="form-control" id="description" placeholder="Tell me about yourself." name="description">
      </div>

      <div class="form-group">
        <div class="file-field input-field">

          

      
        </div>
      </div>
-->
    
    
  </div>
   {{#each createdProfiles}}
  <div class="card">
     <div class="card-header">
    <img src={{imageURL}}>
  </div>
   <div class="card-content">
    <h4>{{name}}</h4>
    <h4>{{description}}</h4>
  </div>
  </div>
 {{/each}}
  <div style="text-align:center">
   <input type="submit" id="submitBtn" class="waves-effect waves-light btn" value="save my changes"></input>
  </div>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/js/materialize.js"></script>
  <script src="/js/init.js"></script>


</body>
</html>
